{% extends "base.html" %}

{% block scripts %}
{{super()}}
  <script>
    $('#close').click(function(){
      liff.closeWindow();
    });
  </script>
{% endblock %}

{% block title %}応援メッセージ投稿フォーム{% endblock %}

{% block content %}
<div class="container mt-3">
    {# お礼のメッセージ #}
    <div class="col my-3">
      <h5 class="text-md-left trn text-center font-flower">ありがとうございました</h5>
    </div>

    {# 画面を閉じる #}
    <div class="row justify-content-center mt-5">
      <button id="close" class="btn custom-btn-primary col-4">
        <i class="bi bi-check2"></i> 閉じる
      </button>
    </div>
</div>
{% endblock %}