{% extends "bootstrap/base.html" %}

{%- block metas %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
{%- endblock metas %}

{% block head %}
{{super()}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
  <script src="https://static.line-scdn.net/liff/edge/versions/2.18.2/sdk.js"></script>
  <script>
    $(window).on('load', async function() {
      const LIFFID = {{ LIFFID | tojson }};
      await liff.init({liffId: LIFFID});

      const context = liff.getContext();
      const userId = context.userId;
      $('#userId').val(userId);
    });

    // ドロップダウンの値を更新
    $('.dropdown-menu .dropdown-item').click(function(){
        const visibleItem = $('.dropdown-toggle', $(this).closest('.dropdown'));
        const selectedValue = $(this).attr('value');
        visibleItem.text(selectedValue);
         $('#tag').val(selectedValue);
    });

    // 文字数カウント
    $('#message').keyup(function(){
      console.log("keyup!");
      var count = $(this).val().length;
      $('#countChars').text(count+"/120");
      if (count > 120) {
        $('#countChars').css('color', 'red');
      } else {
        $('#countChars').css('color', 'black');
      }
    });
  </script>
{% endblock %}

{% block title %}応援メッセージ投稿フォーム{% endblock %}

{% block content %}
<div class="container my-3">
  <form class="mx-auto" id="form" action="/cheer-form" method="POST">
    {{ form.csrf_token }}
    {# 対象 #}
    <div class="col my-2">
      <span class="text-md-left trn font-shelby">Dear</span>
      <input type="hidden" id="tag" name="tag"/>

      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="tag"
          name="tag"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="border: 1px solid #ced4da !important;"
        >
          応援対象を選択してください
        </button>

        <ul class="dropdown-menu">
          {% for tag in tags %}
            <li><button class="dropdown-item" type="button" value="{{tag}}">
              {{ tag }}
            </button></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {# 応援内容 #}
    <div class="col my-2">
      <span class="text-md-left trn font-shelby">{{ form.message.label }}</span>
      {% for error in form.message.errors %}
      <div class="form-group">
        <span style="color: red;">{{ error }}</span>
      </div>
      {% endfor %}
      {{ form.message(class_="form-control trn") }}
      <span id="countChars" class="pull-right">0/120</span>
    </div>

    {# ユーザーIDを保存 #}
      {{ form.userId }}
    {# 確認画面に遷移 #}
    <div class="row justify-content-center my-5">
      <button type="submit" class="btn custom-btn-primary col-4">
        <i class="bi bi-send"></i> {{ form.submit(class_="btn") }}
      </button>
    </div>
  </form>
</div>
{% endblock %}