@font-face {
    font-family: 'shelby'; /* フォント名 */
    src: url('../fonts/Shelby.otf') format('opentype');
}
@font-face {
    font-family: 'flower'; /* フォント名 */
    src: url('../fonts/FlowerAndButterfly.ttf') format('truetype');
}

html {
    font-size: 13px;
} 

body {
    color: #808080;
}


.font-shelby {
    font-family: "shelby";
    font-size: 25px;
}

.font-flower {
    font-family: "flower";
}

.custom-btn-primary {
    font-family: "flower";
    background-image: url("../images/submit.png");
    background-size: contain;
    border-radius: 15px;
    border: 0.5px solid #c0c0c0;
}

.custom-btn-secondary {
    font-family: "flower";
    /* background-image: url("../images/submit.png");
    background-size: contain; */
    border-radius: 15px;
    background-color: #6c757d;
    color: #ffffff;
}